registry=https://pkgs.dev.azure.com/iqmetrix/64b4f770-7f42-4aa7-8337-96087524b31c/_packaging/ready/npm/registry/

always-auth=true

; begin auth token
//pkgs.dev.azure.com/iqmetrix/64b4f770-7f42-4aa7-8337-96087524b31c/_packaging/ready/npm/registry/:username=iqmetrix
//pkgs.dev.azure.com/iqmetrix/64b4f770-7f42-4aa7-8337-96087524b31c/_packaging/ready/npm/registry/:_password=dW42d21mNGk1Ynh0YWhtbXEyenlxNmJydXZydmF2d3RweXBzdWN5YXhiN3Ezc3lqeW1vcQ==
//pkgs.dev.azure.com/iqmetrix/64b4f770-7f42-4aa7-8337-96087524b31c/_packaging/ready/npm/registry/:email=sanjeett@iqmetrix.com
//pkgs.dev.azure.com/iqmetrix/64b4f770-7f42-4aa7-8337-96087524b31c/_packaging/ready/npm/:username=iqmetrix
//pkgs.dev.azure.com/iqmetrix/64b4f770-7f42-4aa7-8337-96087524b31c/_packaging/ready/npm/:_password=dW42d21mNGk1Ynh0YWhtbXEyenlxNmJydXZydmF2d3RweXBzdWN5YXhiN3Ezc3lqeW1vcQ==
//pkgs.dev.azure.com/iqmetrix/64b4f770-7f42-4aa7-8337-96087524b31c/_packaging/ready/npm/:email=sanjeett@iqmetrix.com
; end auth token